/*******Custom Propite******/
:root {
  --frst-color: #00acee;
  --frst-alfa-color: rgba(11, 142, 230, 0.685);
  --secund-color: #14192d;
  --thrid-color: #1f5d88;
  --whit-color: #fff;
  --grey-lait-color: #f3f3f3;
  --gey-color: #ccc;
  --gery-dark-color: #666;
  --black-color: #000;
  --link-color: #509ee6;
  --title-color: #333;
  --text-color: #222;
  --whit-alhfa-color: rgba(255, 255, 255, 0.5);
  --black-alhfa-color: rgba(0, 0, 0, 0.5);

  --grey-900: #212121;
  --white: #ffffff;
  --round-button-active-color: #212121;

  --font: "Raleway" "sans-serif";
  --max-whit: 1200px;
}

/*****************Reset*****************/
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 18px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  margin: 0;
  overflow-x: hidden;
}

a {
  color: var(--link-color);
  transition: all 0.5s ease-out;
}

a:hover {
  opacity: 0.75;
}
h1 {
  margin: 0;
  font-size: 2rem;
}
h2 {
  margin: 0;
  font-size: 1.5rem;
}
h3 {
  margin: 0;
  font-size: 1.25rem;
}
h4 {
  margin: 0;
  font-size: 1rem;
}
h5 {
  margin: 0;
  font-size: 0.85rem;
}
h6 {
  margin: 0;
  font-size: 0.5rem;
}
img {
  max-width: 100%;
  height: auto;
}
p {
  line-height: 1.6;
}

/*****************Utilites*************/
.box-shadow-1 {
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}
.btn {
  border-radius: 0.6rem;
  font-size: 3.8vh;
  padding: 0.6rem;
  display: inline-block;
  width: 200px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--whit-color);
  background-color: var(--frst-color);
}
main {
  margin-bottom: 2.4rem;
}

/***************header**************/

.header {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  height: 2.4rem;
  background-color: var(--frst-color);
  align-items: center;
  text-align: left;
  z-index: 999;
}

.header > .conteiner {
  display: flex;
  justify-content: space-between;
  height: 1.4rem;
  margin: auto;
}
.logo {
  align-items: center;
  margin: 0.4rem;
}
.logo a {
  font-size: 0.8rem;
  color: #212121;
  font-weight: bold;
  text-decoration: none;
  align-items: flex-start;
}

/***************Hero-img***************/

.hero-img {
  background-repeat: no-repeat;
  background-image: var(--img);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.hero-img-opaciti {
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--black-alhfa-color);
}
.hero-title {
  color: var(--white);
  font-size: 7vw;
  margin: 0.8rem;
}
.hero-img-content {
  margin: 0.8rem auto;
}
.hero-img-content img {
  width: 25%;
  height: 25%;
  border-radius: 50%;
}

/*********************Menu de enlaces***************/

/*******botton-vercion-movil*******/
.button-menu {
  z-index: 200;
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  background: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0.4rem;
}

.button-menu span {
  width: 37px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #444444;
  border-radius: 3px;
  transform-origin: 4px 0px;
  transition: all 0.2s linear;
}

.button-menu.close span {
  opacity: 1;
  transform: rotate(45deg) translate(0px, 0px);
  background: #444444;
}

.button-menu.close span:nth-child(2) {
  transform: rotate(-45deg) translate(-8px, 5px);
}

.button-menu.close span:nth-child(3) {
  display: none;
}

.menu {
  position: fixed;
  left: 0;
  bottom: 2.4rem;
  display: flex;
  margin: 1rem;
  border-radius: 12px;
  flex-direction: column;
  width: 90%;
  background-color: var(--frst-color);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}
.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}
.menu a {
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;

  color: var(--grey-900);
}
.menu a :hover {
  color: var(--whit-color);
  background-color: var(--grey-900);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

/***************section-abaut*****************/
.abaut {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.4rem;
  margin: 0.4rem;
}

.abaut h4 {
  margin: 1rem auto;
  font-size: 2.8vh;
  width: 50%;
  border-bottom: 1px solid var(--frst-color);
}

.tecnologias {
  display: grid;
  grid-template-rows: 20%, 60%;
  height: auto;
  margin: 0.2rem;
  padding: 1rem;
}

.teg-domain {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin: 0.4rem;
  padding: 0.8rem;
  align-items: center;
  text-align: center;
}
.teg-domain svg {
  width: 80px;
  height: 80px;
  margin: 0.4rem;
}

/*****************btn-descarga-cv***************/
.center {
  margin: auto;
}
.download-btn {
  width: 200px;
  height: 60px;
  text-align: center;
  cursor: pointer;
  margin: 1rem auto;
  /* margin: 20px 0px;*/
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
}
.download-btn {
  border: 5px solid #00acee;
}

.download-btn div {
  width: 100%;
  height: 100%;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 50px;
}
.download-btn {
  background: #00acee;
}

.download-btn .bottom {
  background: #eee;
  color: #222;
}
.download-btn .top {
  transition: all 300ms ease-in-out;
}
.download-btn:hover .top {
  margin-top: -50px;
}
/****************secion con los trabajor realizados y proyectos***************/
.whort {
  display: flex;
  flex-direction: column;
}
.whort-title {
  margin: 1rem auto;
  font-size: 3.6vh;
  text-align: center;
  width: 20vh;
  border-bottom: 1px solid var(--frst-color);
}
.porfolio-cart {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.porfolio-cart img {
  /*  width: 100%;
  max-height: 16rem;*/
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.porfolio-cart-info {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 1rem;
  background-color: var(--frst-alfa-color);
  color: var(--white);
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
}

.porfolio-cart:hover .porfolio-cart-info {
  opacity: 1;
  pointer-events: auto;
}
.border {
  padding: 1rem;
  border: thin solid var(--white);
  width: 100%;
  height: 100%;
}
.button-enlace {
  display: flex;
  justify-content: space-between;
  bottom: 0;
  text-align: center;
}
.button-enlace a {
  width: 40%;
  text-decoration: none;
  height: 20%;
  background-color: transparent;
}
.button-enlace svg {
  width: 40%;
  height: 40%;
}
.button-enlace a:hover {
  opacity: 0.6;

  border: thin solid var(--white);
}
/**************contact************/
.contact {
  max-width: 1024px;
  margin: 1rem auto;
  align-items: center;
  text-align: center;
}

.contact h2 {
  margin: 1rem auto;
  font-size: 4.6vh;
  width: 40%;
  border-bottom: 1px solid var(--frst-color);
}
.contact-cart {
  margin: 1rem auto;
  padding: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 144px;
}

.contact-cart a {
  text-decoration: none;
}
.social svg {
  width: 5.5vh;
  height: 5.5vh;
  padding: 0.2rem;
}
.contact-cart > svg {
  width: 6.8vh;
  height: 6.8vh;
}

/*********************formulario*************/
.error {
  background-color: red;
  width: 100%;
  font-family: bold;
  margin: 1rem 0;
  font-size: 3vh;
  height: 3rem;
  color: var(--gey-color);
  padding: 1rem;
}
.susces {
  background-color: green;
  width: 100%;
  font-family: bold;
  margin: 1rem 0;
  font-size: 3vh;
  height: 3rem;
  color: var(--gey-color);
  padding: 1rem;
}
.contact-form {
  margin: 1rem;
}
.contact-form input,
.contact-form textarea {
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 100%;
}
.contact-form input,
.contact-form textarea {
  font-size: 0.85rem;
  font-family: var(--font);
}
.contact-form input {
  border: 0;
  border-bottom: thin solid var(--frst-color);
  padding-left: 0;
}
.contact-form input[type="submit"] {
  margin-left: 0;
  width: 40%;
  margin-top: 0;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.contact-form input[type="submit"]:hover {
  opacity: 0.75;
}
textarea {
  border: thin solid var(--frst-color);
  resize: none;
}
.contact-form *::placeholder {
  color: var(--gery-dark-color);
}

@media screen and (min-width: 780px) {
  .contact-form {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    width: 80%;
  }
  .contact-form textarea {
    grid-column: span 2;
  }
  .root {
    grid-column: span 2;
  }
  .loader {
    grid-column: span 2;
  }
  .conteiner-contact-cart {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    justify-content: space-between;
  }
  .button-menu {
    display: none;
  }
  .header {
    position: sticky;
    top: 0;
    padding: 0.5rem;
    height: calc(4rem-0.5rem);
  }
  .menu-btn {
    display: none;
  }
  .logo {
    margin: 0.4rem auto;
  }
  .menu {
    position: static;
    margin: auto;
    font-size: 1vh;
    width: auto;
    flex-direction: row;
    opacity: 1;
    pointer-events: auto;
  }
  .menu a {
    padding: 0 1rem;
  }
  .menu a:last-child {
    padding-right: 0;
  }
  .menu a:hover {
    background-color: transparent;
  }
  .abaut {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: right;
    font-size: 2.8vh;
  }
  .abaut h4 {
    margin-right: 0;
  }
  .abaut p {
    padding-right: 0.4rem;
  }
  .tecnologias {
    flex-direction: column;
    text-align: center;
    font-size: 2vh;
    width: 50%;
    margin-top: 0;
  }
  .tecnologias img {
    width: 80px;
    height: 80px;
  }

  .whort-contet-cart {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1024px) {
  .contact-form {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    width: 80%;
  }
  .contact-form textarea {
    grid-column: span 2;
  }
  .root {
    grid-column: span 2;
  }
  .loader {
    grid-column: span 2;
  }
  .conteiner-contact-cart {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    justify-content: space-between;
  }
  .button-menu {
    display: none;
  }
  .header {
    position: sticky;
    top: 0;
    padding: 0.5rem;
    height: calc(4rem-0.5rem);
  }
  .menu-btn {
    display: none;
  }
  .logo {
    margin: 0.4rem auto;
  }
  .menu {
    position: static;
    margin: auto;
    font-size: 1vh;
    width: auto;
    flex-direction: row;
    opacity: 1;
    pointer-events: auto;
  }
  .menu a {
    padding: 0 1rem;
  }
  .menu a:last-child {
    padding-right: 0;
  }
  .menu a:hover {
    background-color: transparent;
  }
  .abaut {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: right;
    font-size: 2.8vh;
  }
  .abaut-description {
    max-width: 50%;
  }
  .abaut h4 {
    margin-right: 0;
  }
  .abaut p {
    padding-right: 0.4rem;
  }
  .tecnologias {
    flex-direction: column;
    text-align: center;
    font-size: 2vh;
    width: 50%;
    margin-top: 0;
  }
  .tecnologias img {
    width: 80px;
    height: 80px;
  }

  .whort-contet-cart {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.none {
  display: none;
}
