/*******Custom Propite******/
:root {
  --frst-color: #00acee;
  --frst-alfa-color: rgba(11, 142, 230, 0.685);
  --secund-color: #14192d;
  --thrid-color: #1f5d88;
  --whit-color: #fff;
  --grey-lait-color: #f3f3f3;
  --gey-color: #ccc;
  --gery-dark-color: #666;
  --black-color: #000;
  --link-color: #509ee6;
  --title-color: #333;
  --text-color: #222;
  --whit-alhfa-color: rgba(255, 255, 255, 0.5);
  --black-alhfa-color: rgba(0, 0, 0, 0.5);

  --orange-700: #f57c00;
  --grey-900: #212121;
  --white: #ffffff;
  --round-button-active-color: #212121;

  font-size: calc(20px + (40 - 20) * (100vw - 320px) / (1280 - 320));

  --font: "Raleway" "sans-serif";
  --max-whit: 1200px;
}

/*******Reset********/
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  margin: 0;
  overflow-x: hidden;
}

a {
  color: var(--link-color);
  transition: all 0.5s ease-out;
}

a:hover {
  opacity: 0.75;
}
h1 {
  margin: 0;
  font-size: 2rem;
}
h2 {
  margin: 0;
  font-size: 1.5rem;
}
h3 {
  margin: 0;
  font-size: 1.25rem;
}
h4 {
  margin: 0;
  font-size: 1rem;
}
h5 {
  margin: 0;
  font-size: 0.85rem;
}
h6 {
  margin: 0;
  font-size: 0.5rem;
}
img {
  max-width: 100%;
  height: auto;
}
p {
  line-height: 1.6;
}

/*******Utilites******/
.box-shadow-1 {
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}
.btn {
  border-radius: 0.6rem;
  font-size: 3.8vh;
  padding: 0.6rem;
  display: inline-block;
  width: 200px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--whit-color);
  background-color: var(--frst-color);
}

.none {
  display: none;
}

/********header******/

.header {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  height: 2.4rem;
  background-color: var(--frst-color);
  align-items: center;
  text-align: left;
  z-index: 999;
}
.header > .conteiner {
  display: flex;
  justify-content: space-between;
  height: 1.4rem;
  margin: auto;
}
.logo {
  align-items: center;
  margin: 0.4rem;
}
.logo a {
  font-size: 0.8rem;
  color: #212121;
  font-weight: bold;
  text-decoration: none;
  align-items: flex-start;
}

/******Hero-img*******/
.hero-img {
  background-repeat: no-repeat;
  background-image: var(--img);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.hero-img-opaciti {
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--black-alhfa-color);
}
.hero-title {
  color: var(--white);
  font-size: 7vw;
}
.hero-img-content img {
  width: 35%;
  height: 35%;
  border-radius: 50%;
}

/*********************Menu de enlaces***************/

/*******botton-vercion-movil*******/
.button-menu {
  z-index: 200;
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  background: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0.4rem;
}

.button-menu span {
  width: 37px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #444444;
  border-radius: 3px;
  transform-origin: 4px 0px;
  transition: all 0.2s linear;
}

.button-menu.close span {
  opacity: 1;
  transform: rotate(45deg) translate(0px, 0px);
  background: #444444;
}

.button-menu.close span:nth-child(2) {
  transform: rotate(-45deg) translate(-8px, 5px);
}

.button-menu.close span:nth-child(3) {
  display: none;
}

.menu {
  position: fixed;
  left: 0;
  bottom: 2.4rem;
  display: flex;
  margin: 1rem;
  border-radius: 12px;
  flex-direction: column;
  width: 90%;
  background-color: var(--frst-color);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}
.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}
.menu a {
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;

  color: var(--grey-900);
}
.menu a :hover {
  color: var(--whit-color);
  background-color: var(--grey-900);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

/***************section-abaut*****************/
.abaut {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.4rem;
  margin: 0.4rem;
}

.abaut h4 {
  margin: 1rem;
  font-size: 2.6vh;
  border-bottom: 1px solid var(--frst-color);
}
.abaut p {
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.55);
}
.tecnologias {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
}
.tecnologias p {
  font-size: 2.6vh;
  font-family: sans-serif;
  color: var(--blue-A700);
}
.teg-domain {
  display: flex;
  flex-direction: column;
  margin: 0.2rem;
  padding: 0.2rem;
  text-align: center;
}

/****btn descarga de el cv****/
.center {
  margin: 1rem;
  align-items: center;
}
.download-btn {
  width: 200px;
  height: 60px;
  text-align: center;
  cursor: pointer;
  margin: 20px 0px;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
}
.download-btn {
  border: 5px solid #00acee;
}

.download-btn div {
  width: 100%;
  height: 100%;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 50px;
}
.download-btn {
  background: #00acee;
}

.download-btn .bottom {
  background: #eee;
  color: #222;
}
.download-btn .top {
  transition: all 300ms ease-in-out;
}
.download-btn:hover .top {
  margin-top: -50px;
}
/****************secion con los trabajor realizados y proyectos***************/
.porfolio-cart {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.porfolio-cart img {
  width: 100%;
  height: 28rem;
  object-fit: cover;
}
.porfolio-cart-info {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 1rem;
  background-color: var(--frst-alfa-color);
  color: var(--white);
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
}
.porfolio-cart-info a {
  display: block;
  border: thin solid var(--whit-color);
  border-radius: 4px;
  color: red;
  background-color: var(--frst-color);
  margin: 1rem auto;
  padding: 1rem;

  font-size: 2.8vh;
  text-decoration: none;
}
.porfolio-cart:hover .porfolio-cart-info {
  opacity: 1;
  pointer-events: auto;
}
.porfolio-cart-info > div {
  padding: 1rem;
  border: thin solid var(--white);
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 780px) {
}
@media screen and (min-width: 1024px) {
  .button-menu {
    display: none;
  }
  .header {
    position: sticky;
    top: 0;
    padding: 0.5rem;
    height: calc(4rem-0.5rem);
  }
  .menu-btn {
    display: none;
  }
  .logo {
    margin: auto;
  }
  .menu {
    position: static;
    margin: auto;
    font-size: 1vh;
    width: auto;
    flex-direction: row;
    opacity: 1;
    pointer-events: auto;
  }
  .menu a {
    padding: 0 1rem;
  }
  .menu a:last-child {
    padding-right: 0;
  }
  .menu a:hover {
    background-color: transparent;
  }
}
